@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/*mobile styles*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;
}

main{
    height: 100%;
}

.form-side{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

form{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 80%;
    min-height: 70%;
}

h1{
    font-size: 1.8rem;
}

.subTitle{
    font-size: 1rem;
    font-weight: 400;
}

.inputs-container,
.buttons-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.input-box h2{
    margin-bottom: 10px;
}

.input-box .input{
    padding: 15px;
    width: 100%;
    height: 50px;
    outline: none;
    border: 1px solid #bababa;
    border-radius: 5px;
}

.buttons-container button{
    padding: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    color: white;
}

.login-btn{
    background: #04C35C;
}

.google-signIn-btn{
    display: flex;
    justify-content: center;
    gap: 14px;
    align-items: center;
    background: #2D3748;
}

.join-link{
    font-weight: 400;
}

.join-link a{
    text-decoration: none;
    color: #2B6CB0;
}

/*validation styles*/
.focusOut{
    border-bottom: 8px solid rgb(255, 208, 0) !important;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .form-side{
        padding: 10%;
    }

    h1{
        font-size: 2.8rem;
    }
    
    .subTitle,
    .buttons-container button,
    .join-link{
        font-size: 1.5rem;
    }

    .input-box .input{
        width: 100%;
        height: 80px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    main{
        display: flex;
        width: 100%;
    }

    .form-img{
        width: 50%;
        height: 100%;
        background: no-repeat url("../img/side-bg.svg");
    }

    .form-side{
        width: 50%;
        height: 100%;
    }

    form{
        min-height: 80%;
        gap: 30px;
    }

    h1{
        font-size: 1.7rem;
    }
    
    .subTitle,
    .buttons-container button,
    .join-link{
        font-size: 1rem;
    }

    .input-box .input{
        height: 40px;
    }

    .buttons-container button{
        padding: 14px;
    }

    .join-link{
        margin-top: 50px;
    }
}